Binaries
DerivedDataCache
Intermediate
Saved
.vs
Build
Releases
Content/Ignore
Content/InfiltratorDemo
Content/Audio
Content/Blueprints
Content/Character
Content/Effects
Content/Env
Content/Maps
Content/Sounds
Content/Vehicles
Content/Weapons
Content/MCS/Maps/SunTemple.umap
Content/MCS/Maps/SunTemple_BuiltData.uasset
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
